.env
.venv/
src/logs/*
*/__pycache__/
*/*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
.env
.pytest_cache
tests/load_test.py
.ruff_cache
src/del.py
*.db
src/test.py
del.py
bdschema.png
Dockerfiletest