__pycache__

.venv
src/logs/*.txt
src/logs/*.log
.pytest_cache
.dockerignore
.gitignore
.ruff_cache
src/test.py
.env
src/logs/*
*/__pycache__/
*/*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
.pytest_cache
tests/load_test.py
.ruff_cache
src/del.py
*.db
src/test.py