[Unit]
Description= iot Server application compose
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/iot_server

ExecStartPre=/bin/bash -c "make compose-down"
ExecStart=/bin/bash -c "make compose-prod-up"
ExecStop=/bin/bash -c "make compose-down"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
